# https://dev.twitch.tv/console/apps
client_id: xxxxxxxxxxxxxx
client_secret: xxxxxxxxxxxxxx

# https://pushover.net/
pushover_enable: false
pushover_user_key: xxxxxxxxxxxxxx
pushover_app_key: xxxxxxxxxxxxxx

# Discord webhook for notifications
discord_enable: False
webhook_url: https://derp/

# third party tool paths
twitchdownloader: "/thirdparty/TwitchDownloaderCLI"
